includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 9 is the highest level
    level: 3

    ignoreErrors:
        - '#Call to an undefined method Laravel\\Socialite\\Contracts\\Provider::with\(\)#'
        - '#Call to static method translateDataModelType\(\) on an unknown class App\\Traits\\MMC#'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
    stubFiles:
        - phpstan/stubs/Feature.stub