{
    "name": "gateway-api",

    "gatewayWeb2Root": "/Users/lokisinclair/Development/HDRUK/gateway-web-2",

    "traserServiceRoot": "/Users/lokisinclair/Development/HDRUK/traser",
    "tedServiceRoot": "/Users/lokisinclair/Development/HDRUK/term-extraction-director",
    "gmiServiceRoot": "/Users/lokisinclair/Development/HDRUK/federated_metadata_mk2",
    "searchServiceRoot": "/Users/lokisinclair/Development/HDRUK/search-service",
    "qbServiceRoot": "/Users/lokisinclair/Development/HDRUK/qb-service",
    "darasServiceRoot": "/Users/lokisinclair/Development/HDRUK/dar-service",
    "clamavServiceRoot": "/Users/lokisinclair/Development/HDRUK/clamav-scanner",
    "traserEnabled": true,
    "tedEnabled": true,
    "gmiEnabled": true,
    "searchEnabled": true,
    "qbEnabled": true
    "darasEnabled": true
    "clamavEnabled": true
}